@charset "shift_jis";
/*/////////////////////////////////////////////////////////////////////
/ 共通
/////////////////////////////////////////////////////////////////////*/

/*---------------------------------------------------------------------*/
/*共通*/
/*---------------------------------------------------------------------*/
.mozifont {
    font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
}

.cursorPointer {
    cursor: pointer;
}

.titleMojiFont {
    font-size: 30px;
}

.font-size15px {
    font-size: 15px;
}

.border {
    box-sizing: border-box;
    border: solid;
    border-color: #dcdcdc;
    border-width: 2px;
    padding: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.float {
    float: left;
}

.inline {
    display:inline;
}
.screenname {
    background-color:white;
    display:inline-block;
    border:1px solid black;
    padding:5px 15px;
    margin:10px auto 20px 30px;
}

/*オレンジボタン*/
.orange-button {
    margin: 0px 0px 0px 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    background-color: orange;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}
/*グレーボタン*/
.gray-button {
    margin: 0px 0px 0px 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    background-color: silver;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}

.kasen-sakuzixyo {
    text-decoration: none;
}

.bodygray {
    background-color: #EEEEEE;
    color: #333333;
}

.bodywhite {
    background-color: #FFFFFF;
    color: #333333;
}
/*---------------------------------------------------------------------*/
/* ヘッダー*/
/*---------------------------------------------------------------------*/
header {
    background-color: #333333;
    height: 90px;
    width: 100%;
}

header a:link {
    color: #fff;
    text-decoration: none;
}

header a:visited {
    color: #fff;
    text-decoration: none;
}

.CompanyLogo img {
    box-sizing: border-box;
    width: 200px;
}

.head-table {
    box-sizing: border-box;
    margin: 20px;
}

.CompanyLogo {
    box-sizing: border-box;
    width: 200px;
}

.kensakumozi {
    box-sizing: border-box;
    background-color: #d2d2d2;
    border-radius: 5px 0px 0px 5px;
    width: 80px;
    height: 37px;
    vertical-align: top;

}

.search {
    box-sizing: border-box;
}

.search input {
    box-sizing: border-box;
    height: 37px;
    width: 400px;
}

.searchAction {
    box-sizing: border-box;
    background-color: #ffc107;
    border-radius: 0px 5px 5px 0px;
    height:37px;
    vertical-align: top;
}

.searchAction[type="image"]{
    width:37px;
}

.menu {
    box-sizing: border-box;
    margin:20px;
}

.mypage-kye{
    margin:20px;
}
.menu img {
    width: 30px;
}

.cartSuu {
    position:relative;
    left: -30px;
    top: -10px;
}