@charset "shift_jis";
/*/////////////////////////////////////////////////////////////////////
/ リセットCSS
/////////////////////////////////////////////////////////////////////*/

/* htmlのﾃﾞﾌｫﾙﾄの設定をﾘｾｯﾄ */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td
    {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    /*vertical-align: baseline;*/
}
