@charset "shift_jis";

/* htmlのﾃﾞﾌｫﾙﾄの設定をﾘｾｯﾄ */
html, body, div, span,
h1,h2,h3 , h4, h5, h6, p, blockquote, pre,
dl, dt, dd, ol, ul, li,
table,caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-style:normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

.bodygray{
  background-color:#EEEEEE;
  color:#333333;
}
.bodywhite{
  background-color:#FFFFFF;
  color:#333333;
}
header{
    background-color:#555555;
    height:70px;
    width:100%;
    }
header h3{
    font-size:30px;
}
.col-xs-1{
      top:20px;
      left:20px;
      width:160px;
      height:60px;
      position:absolute;
}

.col-xs-6{

      top:40px;
      left:200px;
      width:370px;
      height:40px;
      position:absolute;
}
.col-xs-5{
      top:40px;
      left:500px;
      width:370px;
      height:40px;
      position:absolute;
}

.input-group-addon{
        color:#000000;
        background-color:#e2e2e2;
}

h2{
     line-height:50px;
      background-color:#ffffff;
    height:10%;
    width:80%;
    margin:30px auto 0px;
    text-align:center;
    padding:10px;
    font-size:30px;
    line-height:40px;
}
.top{
    margin:40px;
    text-align:center;
    font-size:25px;
    width: 250px;
    height: 50px;
    background-color:orange;
}

.text-danger{
    text-align:center;
    color:red;
}

.center{
    margin:auto;
    text-align:center;
}
.cart table{
    border:1px solid black;
    }
.cart td{
    border:1px solid black;
}