@charset "shift_jis";

/* htmlのﾃﾞﾌｫﾙﾄの設定をﾘｾｯﾄ */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td
    {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}
/*共通*/
.mozifont {
    font-family: "HGP創英角ﾎﾟｯﾌﾟ体";
}

.cursorPointer {
    cursor: pointer;
}

.titleMojiFont {
    font-size: 30px;
}

.font-size15px {
    font-size: 15px;
}

.border {
    border: solid;
    border-color: #dcdcdc;
    border-width: 2px;
    padding: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.float {
    float: left;
}
/*オレンジボタン*/
.orange‐button {
    margin:0px 0px 0px 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    background-color: orange;
    width: 150px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;
}
/*ここまで*/
.bodygray {
    background-color: #EEEEEE;
    color: #333333;
}

.bodywhite {
    background-color: #FFFFFF;
    color: #333333;
}
/*ここからヘッダー*/
header {
    background-color: #333333;
    height: 70px;
    width: 100%;

}

header a:link {
    color: #fff;
     text-decoration: none;
}

header a:visited {
    color: #fff;
     text-decoration: none;
}

header h3 {
    font-size: 30px;
}

.kensaku {
    position: absolute;
    background-color: #d2d2d2;
    left: 180px;
    top: 22px;
    width: 45px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
}

#form1 {
    position: absolute;
}

#search {
    position: absolute;
    width: 182px;
    height: 16px;
    background: #fff;
    border: none;
    padding: 4px;
    color: #000;
    left: 222px;
    top: -55px;
}

#searchAction {
    position: absolute;
    top: -55px;
    left: 412px;
    max-width: 24px;
    background-color: #ffc107;
    border-radius: 0px 5px 5px 0px;
}

#menu {
    top: 10px;
    left: 450px;
    position: absolute;
}

#menu img {
    width: 30px;
}

#cartSuu {
        top: -5px;
    left: 7px;
    position: absolute;
}
/*トップ画面*/
.gameLogo {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 200px;
    float: left;
}

.gameLogo img {
    height: 100px;
    width: 200px;
    display: -webkit-flex;
    display: flex;
}

.categoryList {
    margin: 0px;
    width: 300px;
    float: left;
    border: solid;
}

.obi {
    margin: 0px 0px 20px 0px;
    position: relative;
    background-color: #ffc107;
}

.main-content-simple {
    overflow: hidden;
    width: 70%;
    float: right;
}

.side-content-simple {
    min-width: 250px;
    width: 30%;
    float: left;
}

.Done h2 {
    line-height: 50px;
    background-color: #ffffff;
    height: 10%;
    width: 80%;
    margin: 30px auto 0px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    line-height: 40px;
}

.purchaseComp INPUT {
    margin: 40px;
    text-align: center;
    font-size: 25px;
    width: 250px;
    height: 50px;
    background-color: orange;
}

.text-danger {
    text-align: center;
    color: red;
}

.center {
    margin: auto;
    text-align: center;
}

.cart {
    margin: auto;
    text-align: center;
}

.cart table {
    border: 1px solid black;
    margin: 100px auto 20px;
    text-align: center;
    border-collapse: collapse;
}

.cart td {
    border: 1px solid black;
    padding: 30px;
}

.cartbotton {
    margin: 40px;
    text-align: center;
    font-size: 25px;
    width: 200px;
    height: 50px;
    background-color: orange;
}
.membotton{
    margin:40px;
    text-align:center;
    font-size:15px;
    width: 100px;
    height: 40px;
    background-color:orange;
	float:left;
}

.membotton2{
    margin:40px;
    text-align:center;
    font-size:15px;
    width: 100px;
    height: 40px;
    background-color:gray;
	float:left;
}
.memUpcon{
	text-align:center;
	line-height: 300%;
}

.formcenter{
	margin:10px auto;
	width: 370px;
}

.memborder{
	clear: both;
}
/*商品詳細画面*/
.productDatail-sub-content {
    box-sizing: border-box;
    width: 410px;
    padding: 20px;
    float: left;
}

.productDatail-main-content {
    overflow: hidden;
    box-sizing: border-box;
    width: 60%;
    float: left;
}

.mainGazou {
    top: 50px;
    left: 80px;
    float: left;
}

.mainGazou img {
    width: 300px;
    height: 400px;
}
.subGazou{
    margin: 0px 5px;
width: 50px;
    float: left;
}
.subGazou img {
    width: 50px;
    height: 50px;
}

.productPrice {
    color: red;
}

.zaiko {
    color: green;
    box-sizing: border-box;
    width: 400px;
}
.memUpcon td{
width:200px;
margin:auto;

.productDatail {
    margin: 20px 0px 0px 0px;
}

.ave_eval {
    position: relative;
    width: 400px;
}


.memUpcon table{
	padding:50px 5opx 50px 0px;
	margin:auto;
	text-align:center;

}
.kosuuSentaku {
    position: relative;
    left: 750px;
}
.cratkey{
    position: relative;
    left: 800px;
}
.productDatail{
    position: relative;
    left: 600px;
    width: 400px;
}
.ave_eval{
    position: relative;
    left: 600px;
.pReview {
    margin: 100px 0px 0px 0px;
}

.productBuyConf table{
	border: 1px solid black;
    margin: auto;
    text-align: center;
}

.productBuyConf td{
	border: 1px solid black;
    margin: auto ;
    text-align: center;

}
.float{
float:left;
}
.screenname{
	border:1px black solid;
	padding:6px;
	margin:10px;
	display:inline-block;
	background-color:white;
}
