@charset "shift_jis";

/* htmlのﾃﾞﾌｫﾙﾄの設定をﾘｾｯﾄ */
html, body, div, span,
h1, h2,  h4, h5, h6, p, blockquote, pre,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-style:normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

body{
  background-color:#EEEEEE;
  color:#333333;
}

header{
    background-color:#555555;
    height:70px;
    width:100%;
    margin:-120px auto;
    }

.white{
    background-color:#ffffff;
    height:150px;
    width:80%;
    margin:100px auto;
    text-align:center;
    padding:10px;

}